body {
    background-color: #e6e2cd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: #4A6FA5;

}

.sidebar h2 {
    margin-left: 0.7rem;
}

.sidebar nav {
    gap: 20px;
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.sidebar nav:hover {

    margin-right: 3rem;
}

.sidebar nav a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.sidebar nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    scale: 1.7;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
}

.main {
    flex: 1;

}

.main header {
    flex: 1;


}

.main header h1 {
    flex: 1;
    background-color: #777b81;

    margin: 1rem;

}



.main section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    left: 0;
    gap: 30px;
    padding: 30px;
}



.main section div {
    display: flex;
    border: 3px solid rgb(62, 133, 238);
    background-color: #ffffff;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;

    min-height: 15rem;

}