body {
    margin: 0;
    font-family: Inter, system-ui, Segoe UI, Arial;
    background-color: #ecd9bc;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #3F3A34;
}

#resultado p {
    width: fit-content;
    align-items: center;
    color: #5B554F;
    border-bottom: 4px solid #ba7f7fcd;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #ecd9bc;


}

input {
    width: 95vh;
    height: 4vh;
    font-size: 3vh;
}

button {
    background: #007bff;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 17px;
}

.titulo a {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #f5f1eb57;
    min-height: 100vh;
}

.card {
    background-color: #F3EFE7;
    width: 60%;
    border-radius: 3vh;
    border: 3px solid #ba7f7fcd;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputSefaz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.mensagem {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.linha {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: baseline;
    gap: 15px;
    font-size: 3vh;
}

.infos {
    padding-left: 100px;
    text-align: left;

}

.barraMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



#erroInput {
    display: none;
    font-size: 20px;
    color: brown;
}

#resultado {
    display: none;

    border-left: 20px;
    text-align: left;
    padding: 30px;
    font-size: 20px;

    border: 3px solid #F3EFE7;



}

#botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#link1 {
    display: none;

}

#link2 {
    display: none;
}

#botoes1 {
    display: none;
}

#botoes2 {
    display: none;
}

#mensagem {
    display: none;
}

#cCnpj {
    background: red;
}