body {
    margin: 0;
    font-family: Inter, system-ui, Segoe UI, Arial;
    background-color: #ecd9bc;
}

* {
    box-sizing: border-box;
}

.menuBar {
    display: flex;
    flex-direction: row;
    background-color: teal;
    padding: 10px;
}

.navMenu {
    display: flex;
    margin-right: 10vw;
    gap: 4vw;
    align-items: center;
    padding-left: 50px;
}

.navMenu a {
    font-size: x-large;
    color: bisque;
    text-decoration: none;
}

.navMenu a:hover {
    font-size: xx-large;
    background-color: bisque;
    color: teal;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

h1 {
    color: #3F3A34;
}

#dados p {
    width: fit-content;
    align-items: center;
    color: #5B554F;
    border-bottom: 4px solid #ba7f7fcd;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #ecd9bc;


}

input {
    width: 95vh;
    height: 4vh;
    font-size: 3vh;
}

button {
    background: #007bff;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 17px;
    gap: 20px;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #f5f1eb57;
    min-height: 100vh;
}

.card {
    background-color: #F3EFE7;
    width: 60%;
    border-radius: 3vh;
    border: 4px solid #ba7f7fcd;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputSefaz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.mensagem {
    padding: 20px;
    display: flex;
    justify-content: center;
}




#erroInput {
    display: none;
    font-size: 20px;
    color: brown;
}

#dados {
    display: none;

    border-left: 20px;
    text-align: left;
    padding: 30px;
    font-size: 20px;
}

#botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#limpar {
    display: none;
}

#resultado {
    display: none;
    border-left: 20px;
    text-align: left;
    padding: 30px;
    font-size: 20px;
}

.btn-mais {
    background: none;
    border: none;
    color: #0066cc;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
}

.linha {
    border-top: 4px solid #ba7f7fcd;
    text-align: left;
    padding: 5px;
}


.linha p {

    text-align: left;
    padding-left: 10px;
}

.linhaadd {
    display: none;
    text-align: left;
    padding: 5px;
}


.rodape {
    width: 100%;
    justify-items: center;
    padding: 20px;
    background-color: teal;
    text-align: center;
    margin-top: 20px;
}

.rodape a {
    text-decoration: none;
}